header{
    .notification{
        max-height: 60px;
    }
    .top-nav{
        min-height: 40px;
    }
    .nav-1,
    .nav-2{
        height: 65px;
    }
    .nav-menu{
        a:hover{
            color: $info !important;
        }
    }
    .enter-user{
        width: 230px;
        z-index: 99;
    }
}