header{
    .top-nav{
        min-height: 40px;
        a:hover{
            text-shadow: 2px 2px 7px $white;
        }
    }
    .nav-1,
    .nav-2{
        height: 65px;
    }
    .nav-menu{
        a:hover{
            color: $info !important;
        }
    }
    .enter-user{
        width: 230px;
        z-index: 99;
    }
}