.slider-parent .owl-carousel-slider .owl-dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    span{
        width: 16px;
        height: 16px;
    }
}
.right-arrow,
.left-arrow{
    width: 36px;
    height: 36px;
    cursor: pointer;
    &:hover{
        box-shadow: 3px 3px 7px lighten($secondary , 10%);
    }
}
.panel{
    .item{
        &:hover{
            box-shadow:0 .5rem 1rem rgba($black, .15) !important;
            .card-footer{
                background-color: $success !important;
                border-radius: 50% 50% 0 0;
            }
        }
        .tag{
            top: 0;
            right: 0;
            span{
                border-radius: 0px 0 5px 15px;
            }
        }
    }
}
.section{
    height: 230px;
}
.bg-linear{
    background-color:  rgba(26,42,78,.3);
}
.bn{
    width: 100px;
    height: 100px;
}