.title-panel::before{
    width: 60px;
    height: 0;
    content: "";
    border: 2px solid $secondary;
    position: absolute;
    top: 100%;
    right: 0;
}
.single-slider .slick-dots{
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
    & button::before{
        font-size: 20px;
    }
}
.custom-arrow-right,
.custom-arrow-left{
    margin: 0 5px;
    cursor: pointer;
    & img:hover{
        transform: scale(1.1);
    }
}
.panel{
    .slick-slide{
        transition: all 0.3s ease-in-out;
        &:hover{
            box-shadow:2px 2px 5px 2px rgba($black, .15);
            border: 1px solid rgba($black, .15);
            .card-footer{
                background: linear-gradient(180deg,#ff0056,#c50042) !important;
                border-radius: 50% 50% 0 0;
                color: $white;
            }
        }
        .tag{
            top: 0;
            right: 0;
            span{
                border-radius: 25px 0 0 25px;
                background: linear-gradient(180deg,#ff0056,#c50042);
            }
        }
    }
}
.product-box{
    margin-right: .1rem;
    margin-left: .1rem;
}
.product-panel-brand .slick-slide{
    transition: all 0.3s ease-in-out;
}
.product-brand-slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .slick-slide{
        display: flex;
        justify-content: center;
        align-items: center;
    }
} 
.section{
    height: 230px;
}
.rounded-4{
    border-radius: 20px;
}
// center-slick
.amazing-suggest{
    max-height: 500px;
}
.center-slider .slick-slide{
    width: 33%;
    padding: 20px 0 100px 0;
    div{
        border-radius: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(0.8);
        transition: all 0.4s ease-in-out;
        &:nth-child(1){
            position: relative;
            &::after{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 10px;
                right: calc(100% - 36px);
                content: url("https://img.icons8.com/ios/24/000000/share--v1.png");
                cursor: pointer;
                visibility: hidden;
                transition: all .2s ease-in-out;
            }
            &:hover::after{
                visibility: visible;
            }
        }
        &:nth-child(2){
            width: 100%;
            margin-top: 15px;
        }
        img{
            border-radius: 10px;
        }
    }
    &:hover div{
        box-shadow: 0px 1px 5px 2px rgba($color: #333, $alpha: .2);
    }
}
.center-slider .slick-current.slick-active div{
    transform: scale(1);
    &:nth-child(2){
        margin-top: 15px;
    }
}
.center-slider .slick-arrow{
    position: absolute;
    @include media-breakpoint-between(md, lg) {
        top: 66%;
    }
    top: 72%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before{
        color: $secondary;
        font-size: 35px;
    }
    &.slick-prev{
        right: 50%;
        transform: translate(100% , -50%);
        margin-left: 15px;
    }
    &.slick-next{
        right: 50%;
        margin-right: 15px;
    }
}