main{
    .color-selection > div{
        width: 26px;
        height: 26px;
        box-sizing: content-box;
    }
    section{
        max-width: 450px;
    }
    .nav-pills .nav-item a{
        color: $dark;
        &.active{
            color: $white;
        }
    }
    .more-imgs div{
        margin: 0 5px;
    }
}