<% include /src/include/header.ejs %>

<main class="Site-content">

  <% include /src/include/slider.ejs %>
  
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mt-4 mx-2 position-relative">
      <h5 class="fw-bold text-dark">جدیدترین ها</h5>
      <div class="custom-arrow product-new-arrow position-absolute end-0 d-flex"></div>
    </div>
  </div>
  <div class="container">
    <div class="row panel product-panel-new">
      <div class="product-new-slider">
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-4">
      <div class="col-lg-8 col-md-12">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="card mb-4">
              <a href="#" class="h-100">
                <img src="./images/img2.jpg" class="card-img h-100" alt="">
                <div class="card-img-overlay text-center">
                  <h6 class="card-title text-white">کفش های ورزشی</h6>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-8 col-md-8">
            <div class="card mb-4">
              <a href="#" class="d-block h-100">
                <img src="./images/img3.jpg" class="card-img h-100" alt="">
                <div class="card-img-overlay text-center">
                  <h6 class="card-title text-white">کفش های ورزشی</h6>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-8 col-md-8">
            <div class="card mb-4 mb-lg-0">
              <a href="#" class="h-100">
                <img src="./images/img4.jpg" class="card-img h-100" alt="">
                <div class="card-img-overlay text-center">
                  <h6 class="card-title text-white">کفش های ورزشی</h6>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="card mb-4 mb-lg-0">
              <a href="#" class="h-100">
                <img src="./images/img5.jpg" class="card-img h-100" alt="">
                <div class="card-img-overlay text-center">
                  <h6 class="card-title text-white">کفش های ورزشی</h6>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mx-auto">
        <div class="card mb-4 mb-md-0">
          <a href="#" class="h-100">
            <img src="./images/img1.jpg" class="card-img h-100" alt="">
            <div class="card-img-overlay text-center">
              <h6 class="card-title text-dark">کفش های ورزشی</h6>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mt-4 mx-2 position-relative">
      <h5 class="fw-bold text-dark">پربازدیدترین ها</h5>
      <div class="custom-arrow product-view-arrow position-absolute end-0 d-flex"></div>
    </div>
  </div>
  <div class="container">
    <div class="row panel product-panel-view">
      <div class="product-view-slider">
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
      </div>
    </div>
  </div>
  <!-- slick -->
  <div class="container">
    <div class="row">
      <div class="bg-info mt-5 mb-3 rounded-4 amazing-suggest">
        <div class="text-center mt-4"><span class="text-white fw-bold fs-5">پیشنهاد های شگفت انگیز</span></div>
        <div class="center-slider position-relative">
          <div>
            <div class="position-relative">
              <img src="./images/amaz-1.jpg" class="h-100 img-fluid" alt="">
              <div class="d-flex flex-column py-2 fw-bold position-absolute top-100">
                <span>پلوپز میگل</span>
                <span>1,850,000 تومان</span>
              </div>
            </div>
          </div>
          <div>
            <div class="position-relative">
              <img src="./images/amaz-2.jpg" class="h-100 img-fluid" alt="">
              <div class="d-flex flex-column py-2 fw-bold position-absolute top-100">
                <span>لپتاپ 11 اینچی لنوو</span>
                <span>10,500,000 تومان</span>
              </div>
            </div>
          </div>
          <div>
            <div class="position-relative">
              <img src="./images/amaz-3.jpg" class="h-100 img-fluid" alt="">
              <div class="d-flex flex-column py-2 fw-bold position-absolute top-100">
                <span>چرخ گوشت مولنکس</span>
                <span>5,979,000 تومان</span>
              </div>
            </div>
          </div>
          <div>
            <div class="position-relative">
              <img src="./images/amaz-4.jpg" class="h-100 img-fluid" alt="">
              <div class="d-flex flex-column py-2 fw-bold position-absolute top-100">
                <span>تاپ زنانه مونسا</span>
                <span>172,000 تومان</span>
              </div>
            </div>
          </div>
          <div>
            <div class="position-relative">
              <img src="./images/amaz-5.jpg" class="h-100 img-fluid" alt="">
              <div class="d-flex flex-column py-2 fw-bold position-absolute top-100">
                <span>پنکه</span>
                <span>1,799,000 تومان</span>
              </div>
            </div>
          </div>
          <div>
            <div class="position-relative">
              <img src="./images/amaz-6.jpg" class="h-100 img-fluid" alt="">
              <div class="d-flex flex-column py-2 fw-bold position-absolute top-100">
                <span>گوشی موبایل هوآوی</span>
                <span>5,499,000 تومان</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mt-4 mx-2 position-relative">
      <h5 class="fw-bold text-dark">پرفروش ترین ها</h5>
      <div class="custom-arrow product-sale-arrow position-absolute end-0 d-flex"></div>
    </div>
  </div>
  <div class="container">
    <div class="row panel product-panel-sale">
      <div class="product-sale-slider">
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mt-4 position-relative border">
      <h5 class="fw-bold text-dark ps-3">برندها</h5>
      <div class="custom-arrow product-brand-arrow position-absolute end-0 d-flex border"></div>
    </div>
  </div>
  <div class="container">
    <div class="row product-panel-brand border">
      <div class="product-brand-slider border">
        <div>
          <a href="#"><img src="./images/apple.png" class="img-fluid" alt=""></a>
        </div>
        <div>
          <a href="#"><img src="./images/baseus.png" class="img-fluid" alt=""></a>
        </div>
        <div>
          <a href="#"><img src="./images/coteetci.png" class="img-fluid" alt=""></a>
        </div>
        <div>
          <a href="#"><img src="./images/huawei.png" class="img-fluid" alt=""></a>
        </div>
        <div>
          <a href="#"><img src="./images/lenovo.png" class="img-fluid" alt=""></a>
        </div>
        <div>
          <a href="#"><img src="./images/samsung.png" class="img-fluid" alt=""></a>
        </div>
        <div>
          <a href="#"><img src="./images/usams.png" class="img-fluid" alt=""></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mt-5 position-relative">
      <h5 class="fw-bold text-dark ps-3">قدیمی ترین ها</h5>
      <div class="custom-arrow product-old-arrow position-absolute end-0 d-flex"></div>
    </div>
  </div>
  <div class="container">
    <div class="row panel product-panel-old">
      <div class="product-old-slider">
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
      </div>
    </div>
  </div>
</main>

<% include /src/include/footer.ejs %>
