<% include /src/include/header.ejs %>

<main class="Site-content">

  <% include /src/include/slider.ejs %>
  
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mt-5 mx-2">
      <h5 class="fw-bold text-dark">جدیدترین ها</h5>
      <div class="panel1-nav d-flex">
        <div class="right-arrow bg-secondary rounded-circle position-relative me-2">
          <img src="https://img.icons8.com/material-rounded/24/ffffff/chevron-right.png" class="d-block position-absolute top-50 start-50 translate-middle"/>
        </div>
        <div class="left-arrow bg-secondary rounded-circle position-relative">
          <img src="https://img.icons8.com/material-rounded/24/ffffff/chevron-left.png" class="d-block position-absolute top-50 start-50 translate-middle"/>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row panel product-panel1 position-relative">
      <div class="owl-carousel owl-theme owl-product-panel1">
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-4">
      <div class="col-lg-8 col-md-12">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="card mb-4">
              <a href="#" class="h-100">
                <img src="./images/img2.jpg" class="card-img h-100" alt="">
                <div class="card-img-overlay text-center">
                  <h6 class="card-title text-white">کفش های ورزشی</h6>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-8 col-md-8">
            <div class="card mb-4">
              <a href="#" class="d-block h-100">
                <img src="./images/img3.jpg" class="card-img h-100" alt="">
                <div class="card-img-overlay text-center">
                  <h6 class="card-title text-white">کفش های ورزشی</h6>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-8 col-md-8">
            <div class="card mb-4 mb-lg-0">
              <a href="#" class="h-100">
                <img src="./images/img4.jpg" class="card-img h-100" alt="">
                <div class="card-img-overlay text-center">
                  <h6 class="card-title text-white">کفش های ورزشی</h6>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="card mb-4 mb-lg-0">
              <a href="#" class="h-100">
                <img src="./images/img5.jpg" class="card-img h-100" alt="">
                <div class="card-img-overlay text-center">
                  <h6 class="card-title text-white">کفش های ورزشی</h6>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mx-auto">
        <div class="card mb-4 mb-md-0">
          <a href="#" class="h-100">
            <img src="./images/img1.jpg" class="card-img h-100" alt="">
            <div class="card-img-overlay text-center">
              <h6 class="card-title text-dark">کفش های ورزشی</h6>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mt-4 mx-2">
      <h5 class="fw-bold text-dark">پربازدیدترین ها</h5>
      <div class="panel2-nav d-flex">
        <div class="right-arrow bg-secondary rounded-circle position-relative me-2">
          <img src="https://img.icons8.com/material-rounded/24/ffffff/chevron-right.png" class="d-block position-absolute top-50 start-50 translate-middle"/>
        </div>
        <div class="left-arrow bg-secondary rounded-circle position-relative">
          <img src="https://img.icons8.com/material-rounded/24/ffffff/chevron-left.png" class="d-block position-absolute top-50 start-50 translate-middle"/>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row panel product-panel2 position-relative">
      <div class="owl-carousel owl-theme owl-product-panel2">
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
      </div>
    </div>
  </div>
  <!-- slick -->
  <div class="container">
    <div class="row">
      <div class="bg-info mt-4 p-3 rounded-3">
        <div class="text-center mt-2 mb-4"><span class="text-white fw-bold fs-5">پیشنهاد شگفت انگیز</span></div>
        <div class="center">
          <div>
            <img src="./images/amaz-1.jpg" class="w-100 border" alt="">
          </div>
          <div>
            <img src="./images/amaz-2.jpg" class="w-100 border" alt="">
          </div>
          <div>
            <img src="./images/amaz-3.jpg" class="w-100 border" alt="">
          </div>
          <div>
            <img src="./images/amaz-4.jpg" class="w-100 border" alt="">
          </div>
          <div>
            <img src="./images/amaz-5.jpg" class="w-100 border" alt="">
          </div>
          <div>
             <img src="./images/amaz-6.jpg" class="w-100 border" alt=""> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mt-4 mx-2">
      <h5 class="fw-bold text-dark">پرفروش ترین ها</h5>
      <div class="panel2-nav d-flex">
        <div class="right-arrow bg-secondary rounded-circle position-relative me-2">
          <img src="https://img.icons8.com/material-rounded/24/ffffff/chevron-right.png" class="d-block position-absolute top-50 start-50 translate-middle"/>
        </div>
        <div class="left-arrow bg-secondary rounded-circle position-relative">
          <img src="https://img.icons8.com/material-rounded/24/ffffff/chevron-left.png" class="d-block position-absolute top-50 start-50 translate-middle"/>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row panel product-panel2 position-relative">
      <div class="owl-carousel owl-theme owl-product-panel2">
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mt-4 mx-2">
      <h5 class="fw-bold text-dark">برندها</h5>
      <div class="brands-nav d-flex">
        <div class="right-arrow bg-secondary rounded-circle position-relative me-2">
          <img src="https://img.icons8.com/material-rounded/24/ffffff/chevron-right.png" class="d-block position-absolute top-50 start-50 translate-middle"/>
        </div>
        <div class="left-arrow bg-secondary rounded-circle position-relative">
          <img src="https://img.icons8.com/material-rounded/24/ffffff/chevron-left.png" class="d-block position-absolute top-50 start-50 translate-middle"/>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row brands-panel position-relative">
      <div class="owl-carousel owl-theme owl-brands-panel mt-1">
        <div class="item">
          <a href="#"><img src="./images/apple.png" alt=""></a>
        </div>
        <div class="item">
          <a href="#"><img src="./images/baseus.png" alt=""></a>
        </div>
        <div class="item">
          <a href="#"><img src="./images/coteetci.png" alt=""></a>
        </div>
        <div class="item">
          <a href="#"><img src="./images/huawei.png" alt=""></a>
        </div>
        <div class="item">
          <a href="#"><img src="./images/lenovo.png" alt=""></a>
        </div>
        <div class="item">
          <a href="#"><img src="./images/samsung.png" alt=""></a>
        </div>
        <div class="item">
          <a href="#"><img src="./images/usams.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mt-4 mx-2">
      <h5 class="fw-bold text-dark">قدیمی ترین ها</h5>
      <div class="panel2-nav d-flex">
        <div class="right-arrow bg-secondary rounded-circle position-relative me-2">
          <img src="https://img.icons8.com/material-rounded/24/ffffff/chevron-right.png" class="d-block position-absolute top-50 start-50 translate-middle"/>
        </div>
        <div class="left-arrow bg-secondary rounded-circle position-relative">
          <img src="https://img.icons8.com/material-rounded/24/ffffff/chevron-left.png" class="d-block position-absolute top-50 start-50 translate-middle"/>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row panel product-panel2 position-relative">
      <div class="owl-carousel owl-theme owl-product-panel2">
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
      </div>
    </div>
  </div>
</main>

<% include /src/include/footer.ejs %>
