<% include /src/include/header.ejs %>
<main class="Site-content">
  <div class="container">
    <div class="row">
      <div class="d-flex mt-4">
        <a href="#" class="text-dark me-2 fs-7">خانه</a>
        <span class="me-2">></span>
        <a href="#" class="text-dark me-2 fs-7">محصولات لورم</a>
        <span class="me-2">></span>
        <a href="#" class="text-dark me-2 fs-7">هندزفری بلوتوثی بیسوس</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-4">
      <div class="col-lg-5 col-12">
        <div>
          <h5 class="fw-bold d-lg-none">هندزفری بلوتوث بیسوس</h5>
          <h6 class="d-lg-none">Baseus Encok W04 Wireless Earphones</h6>
          <div>
            <img src="./images/277076_600x.jpg" class="img-fluid" alt="">
          </div>
          <div class="mt-2">
            <div class="owl-carousel owl-theme owl-page more-imgs">
              <div class="border rounded-3"><a href="#"><img src="./images/handsfree-more/1.jpg" class="img-fluid" alt=""></a></div>
              <div class="border rounded-3"><a href="#"><img src="./images/handsfree-more/2.jpg" class="img-fluid" alt=""></a></div>
              <div class="border rounded-3"><a href="#"><img src="./images/handsfree-more/3.jpg" class="img-fluid" alt=""></a></div>
              <div class="border rounded-3"><a href="#"><img src="./images/handsfree-more/4.jpg" class="img-fluid" alt=""></a></div>
              <div class="border rounded-3"><a href="#"><img src="./images/handsfree-more/5.jpg" class="img-fluid" alt=""></a></div>
              <div class="border rounded-3"><a href="#"><img src="./images/handsfree-more/6.jpg" class="img-fluid" alt=""></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <h4 class="fw-bold d-none d-lg-block">هندزفری بلوتوث بیسوس</h5>
        <h5 class="d-none d-lg-block">Baseus Encok W04 Wireless Earphones</h6>
        <ul class="list-unstyled mt-4">
          <li class="fw-bold mb-2">ویژگی های محصول</li>
          <li>بلوتوث نسخه 5.0 با برد 10متر</li>
          <li>پخش موسیقی 5 ساعت با ولوم 70%</li>
          <li>ظرفیت باتری کیس شارژ ۴۰۰ میلی آمپر ساعت </li>
          <li>ظرفیت باتری هندزفری ۳۷ میلی آمپر ساعت </li>
          <li>رابط شارژ تایپ سی</li>
        </ul>
        <div class="d-none d-lg-flex">
          <a href="#" class="me-4"><img src="https://img.icons8.com/puffy/32/000000/experimental-like-puffy.png"/></a>
          <a href="#"><img src="https://img.icons8.com/fluency-systems-regular/32/000000/share.png"/></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <section class="border bg-primary py-2 px-3 rounded-3 mt-4 mt-lg-0"> 
          <div class="color-selection d-flex align-items-center py-2 border-bottom">
            <span class="me-3">رنگ:</span>
            <div class="bg-white rounded-circle me-2 active-circle"></div>
            <div class="bg-black rounded-circle me-2"></div>
          </div>
          <div class="num-selection d-flex align-items-center py-2 border-bottom">
            <span class="me-3">تعداد:</span>
            <div x-data="{ count: 1 }">
              <button x-on:click="count++" class="fs-5 btn border bg-white">+</button>
              <span x-text="count" class="mx-2"></span>
              <button x-on:click="count--" class="fs-5 btn border bg-white">-</button>
            </div>
          </div>
          <div class="d-flex align-items-center py-2 border-bottom">
            <img src="https://img.icons8.com/external-dreamstale-lineal-dreamstale/28/000000/external-confirm-interface-dreamstale-lineal-dreamstale.png" class="me-3"/>
            <span>موجود است</span>
          </div>
          <div class="text-center pt-3 pb-1">
            <span class="d-block text-decoration-line-through me-3">728,000</span>
            <span class="fw-bold">685,000 تومان</span>
          </div>
          <button class="btn shadow-sm p-2 px-3 bg-white w-100 d-inline-block"><img src="https://img.icons8.com/ios-glyphs/24/000000/shopping-cart--v1.png" class="me-2"/>افزودن به سبد خرید</button>
        </section>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="rounded-3">
      <!--nav pills -->
      <ul class="nav nav-pills p-2" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="pill" href="#datail">جزئیات محصول</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#explenation">توضیحات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#comments">نظرات</a>
        </li>
      </ul>
      <!-- tab panes -->
      <div class="tab-content">
        <div id="datail" class="container tab-pane active"><br>
          <table class="table table-striped table-bordered">
            <tbody>
              <tr>
                <td>برند</td>
                <td>Baseus</td>
              </tr>
              <tr>
                <td>مدل</td>
                <td>Encok W04</td>
              </tr>
              <tr>
                <td>اتصال</td>
                <td>
                  بلوتوث نسخه 5.0 با برد 10متر</td>
              </tr>
              <tr>
                <td>جنس</td>
                <td>ABS</td>
              </tr>
              <tr>
                <td>زمان شارژ</td>
                <td>1.5 ساعت</td>
              </tr>
              <tr>
                <td>رابط شارژ</td>
                <td>
                  تایپ سی</td>
              </tr>
              <tr>
                <td>قابلیت شارژ وایرلس</td>
                <td>ندارد</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="explenation" class="container tab-pane fade"><br>
          <h5 class="fw-bold mb-2">هندزفری بلوتوث بیسوس مدل Encok W04</h5>
          <p>با پیشرفت تکنولوژی، هندزفری ها و سایر لوازم جانبی صوتی نیز دستخوش تغییرات گسترده ای شدند. داشتن یک هدست بلوتوث این روزها بسیار کاربردیست. شرکت بیسوس، یکی از شرکت های خوشنام تولید لوازم جانبی لاکچری و باکیفیت ولی مقرون به صرفه، هندزفری بیسیم بیسوس Encok W04 را روانه بازار کرده است. از ویژگی های جذاب این هندزفری بلوتوث، پشتیبانی از صدای Hi Fi و گواهی بدنه ضد آب و ضد گرد و غبار می باشد.</p>
          <h5 class="fw-bold mb-2">طراحی ارگونومیک و زیبای هندزفری بلوتوث بیسوس</h5>
          <p>بدنه کیس محافظ هندزفری بلوتوث بیسوس مدل Encok TWS W04 دارای رنگ مات و کیفیت ساخت بسیار بالایی بوده و کاربر در همان نگاه اول متوجه یک کالای لوکس و باکیفیت می شود. طراحی ایرباد های هندزفری بیسیم بیسوس، مطابق هندسه گوش بوده و به دلیل جنس بدنه مرغوب از وزن کمی برخودار است.</p>
          <p> هندزفری بیسیم بیسوس مدل Encok TWS W04 در رنگ های مشکی، سفید، صورتی و خاکستری به بازار عرضه شده است.</p>
        </div>
        <div id="comments" class="container tab-pane fade"><br>
          <h3>نظرات</h3>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mt-5 mx-2">
      <h5 class="fw-bold text-dark">محصولات مشابه</h5>
      <div class="product-more-arrow d-flex"></div>
    </div>
  </div>
  <div class="container">
    <div class="row panel product-panel-more">
      <div class="product-more-slider">
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
        <% include /src/include/product-box.ejs %>
      </div>
    </div>
  </div>
</main>
<% include /src/include/footer.ejs %>