<footer class="bg-primary py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="rounded-circle bg-white item">
                    <div><img src="../images/hand-card.svg" alt=""></div>
                    <span>ضمانت اصل بودن کالا</span>
                    <span>تضمین اصالت و گارانتی</span>
                </div>
            </div>
            <div class="col-3">
                <div class="rounded-circle bg-white item">
                    <div><img src="../images/hand-card.svg" alt=""></div>
                    <span>ضمانت اصل بودن کالا</span>
                    <span>تضمین اصالت و گارانتی</span>
                </div>
            </div>
            <div class="col-3">
                <div class="rounded-circle bg-white item">
                    <div><img src="../images/hand-card.svg" alt=""></div>
                    <span>ضمانت اصل بودن کالا</span>
                    <span>تضمین اصالت و گارانتی</span>
                </div>
            </div>
            <div class="col-3">
                <div class="rounded-circle bg-white item">
                    <div><img src="../images/hand-card.svg" alt=""></div>
                    <span>ضمانت اصل بودن کالا</span>
                    <span>تضمین اصالت و گارانتی</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <ul class="list-unstyled">
                    <li class="fw-bold pb-1">راهنمای خرید</li>
                    <li><a href="#" class="text-dark">ثبت سفارش</a></li>
                    <li><a href="#" class="text-dark">ارسال سفارش</a></li>
                    <li><a href="#" class="text-dark">پیگیری سفارش</a></li>
                    <li><a href="#" class="text-dark">راهنمای پرداخت</a></li>
                </ul>
            </div>
            <div class="col-3">
                <ul class="list-unstyled">
                    <li class="fw-bold pb-1">خدمات</li>
                    <li><a href="#" class="text-dark">مرکز پشتیبانی</a></li>
                    <li><a href="#" class="text-dark">سوالات متداول</a></li>
                    <li><a href="#" class="text-dark">حریم خصوصی</a></li>
                </ul>
            </div>
            <div class="col-3">
                <ul class="list-unstyled">
                    <li class="fw-bold pb-1">اطلاعات</li>
                    <li><a href="#" class="text-dark">درباره ما</a></li>
                    <li><a href="#" class="text-dark">تماس باما</a></li>
                    <li><a href="#" class="text-dark">اطلاع رسانی ها</a></li>
                    <li><a href="#" class="text-dark">مقررات</a></li>
                </ul>
            </div>
            <div class="col-3">
                <ul class="list-unstyled">
                    <li class="fw-bold pb-1">لورم ایپسوم</li>
                    <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</li>
                    <div class="d-flex mt-2">
                        <a href="#"><img src="https://img.icons8.com/material-sharp/24/000000/phone.png" class="pe-3"/></a>
                        <a href="#"><img src="https://img.icons8.com/material-outlined/24/000000/new-post.png" class="pe-3"/></a>
                        <a href="#"><img src="https://img.icons8.com/glyph-neue/24/000000/address.png" class="pe-3"/></a>
                        <a href="#"><img src="https://img.icons8.com/fluency-systems-filled/24/000000/telegram-app.png" class="pe-3"/></a>
                        <a href="#"><img src="https://img.icons8.com/fluency-systems-filled/24/000000/aparat.png" class="pe-3"/></a>
                        <a href="#"><img src="https://img.icons8.com/ios-glyphs/24/000000/instagram-new.png" class="pe-3"/></a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <p class="fs-6">لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید</p>
    </div>
</footer>
<% include /scripts.ejs %>

</body>
</html>