<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <title>sample home</title>
    <% include /styles.ejs %>
</head>

<body class="Site">
<header>
    <div class="notification bg-primary d-flex justify-content-center align-items-center">
       اطلاعیه ها و جشنواره ها
    </div>
    <div class="top-nav bg-secondary d-flex align-items-center p-2 flex-wrap">
        <a href="#" class="text-white me-5 text-nowrap"><img src="https://img.icons8.com/windows/24/ffffff/phone.png" class="pe-2"/>021-24566757</a>
        <a href="#" class="text-white me-5 text-nowrap"><img src="https://img.icons8.com/material-outlined/24/ffffff/new-post.png" class="pe-2"/>email@email.com</a>
        <a href="#" class="text-white me-5 text-nowrap"><img src="https://img.icons8.com/puffy/24/https://img.icons8.com/windows/24/ffffff/phone.png/experimental-marker-puffy.png" class="pe-2"/>آدرس....</a>
    </div>
    <div class="nav-1 bg-primary border-bottom d-flex p-2 position-relative">
        <div class="d-flex align-items-center mx-auto mx-md-0">
            <div class="position-absolute start-0 ms-2 d-md-none">
                <img src="https://img.icons8.com/ios-glyphs/52/000000/menu--v1.png"/>
            </div>
            <div class="me-md-5">
                <!-- <img src="../images/sample-logo-470x235-1.png" alt=""> -->
                <span class="fs-2 text-dark fw-bolder">LOGO</span>
            </div>
            <div class="nav-menu d-none d-md-block">
                <a href="#" class="text-dark me-5 trans fw-bold">خانه</a>
                <a href="#" class="text-dark me-5 trans fw-bold text-nowrap">درباره ما</a>
                <a href="#" class="text-dark me-5 trans fw-bold text-nowrap">مرکز پشتیبانی</a>
                <a href="#" class="text-dark me-5 trans fw-bold text-nowrap">تماس با ما</a>
                <a href="#" class="text-dark me-5 trans fw-bold">شعب</a>
            </div>
        </div>
        <div x-data="{ expanded: false }" class="position-absolute end-0">
            <button @click="expanded = ! expanded" class="btn me-2" type="button">
                <img src="https://img.icons8.com/puffy/32/a1b3c2/experimental-user-puffy.png"/>
            </button>
            <div x-show="expanded" x-collapse.duration.500ms class="enter-user position-absolute top-100 end-0 border me-2 mt-2 bg-white px-3 rounded-3">
                <a href="#" class="d-block text-dark border-bottom py-2 d-flex justify-content-between">
                    <span class="text-nowrap fw-bold">ورود به حساب کاربری</span>
                    <img src="https://img.icons8.com/material-rounded/24/000000/enter-2.png"/>
                </a>
                <a href="#" class="d-block text-dark border-bottom py-2 d-flex justify-content-between">
                    <span class="text-nowrap fw-bold">ثبت نام</span>
                    <img src="https://img.icons8.com/material-sharp/24/000000/user.png"/>
                </a>
                <a href="#" class="d-block text-dark py-2 d-flex justify-content-between">
                    <span class="text-nowrap fw-bold">سبد خرید</span>
                    <img src="https://img.icons8.com/ios-glyphs/24/000000/shopping-cart--v1.png"/>
                </a>
            </div>
        </div>
    </div>
    <div class="nav-2 bg-primary d-flex align-items-center p-2 position-relative">
        <div class="ps-1 nav-menu d-none d-md-block">
            <a href="#" class="text-dark me-5 menu-item trans fw-bold text-nowrap">پیشنهاد ویژه</a>
            <a href="#" class="text-dark me-5 menu-item trans fw-bold text-nowrap">پرفروش ترین ها</a>
            <a href="#" class="text-dark me-5 menu-item trans fw-bold text-nowrap">جدیدترین ها</a>
            <a href="#" class="text-dark me-5 menu-item trans fw-bold text-nowrap">تخفیف ها و پیشنهادات</a>
        </div>
        <div class="position-absolute end-0" x-data="{ expanded: false }">
            <input x-show="expanded" x-collapse.duration.500ms type="text" placeholder="نام کالا" class="p-2 rounded-3 border-0" aria-describedby="inputGroup-sizing-lg">
            <button @click="expanded = ! expanded" class="btn me-2 outline-none" type="button">
                <img src="https://img.icons8.com/ios-glyphs/30/a1b3c2/search--v1.png"/>
            </button>
        </div>
    </div>
</header>