<div class="item rounded-3 border shadow-sm mx-2 my-3 position-relative overflow-hidden">
    <a href="#" class="d-block h-100 text-black p-2">
        <div><img src="../images/product1.jpg" alt=""></div>
        <div class="text-center">
            <span class="fw-bold pb-2 d-block">هندزفری بلوتوث بیسوس</span>
            <p>Baseus Encok W04 Wireless Earphones</p>
        </div>
        <div class="price text-center start-50 translate-middle-x trans">
            <span class="d-block text-decoration-line-through">728,000</span>
            <span class="fw-bold">685,000 تومان</span>
        </div>
    </a>
    <div class="tag d-flex position-absolute">
        <span class="bg-info p-2 text-white me-2 d-block">جدید</span>
        <!-- <span class="rounded-3 border border-info p-2 text-info">ویژه</span> -->
    </div>
</div>