<div class="product-box rounded-3 my-3 position-relative overflow-hidden border-0">
    <div class="card text-center border-0">
        <a href="#" class="text-dark">
            <img src="../images/item-handsfree.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h6 class="card-title fw-bold pb-2 fs-7">هندزفری بلوتوث بیسوس</h6>
                <h6 class="card-subtitle fs-7 fw-light">Baseus Encok W04 Wireless Earphones</h6>
            </div>
            <div class="card-footer bg-transparent border-0 border-bottom-transparent">
                <span class="d-block text-decoration-line-through">728,000</span>
                <span class="fw-bold fs-5">685,000<span class="fs-7 ps-2">تومان</span></span>
            </div>
            <div class="tag d-flex position-absolute">
                <span class="text-white mt-2 px-2 d-block fs-7">جدید</span>
            </div>
        </a>
    </div>
</div>