<div class="single-slider position-relative mb-0">
    <div>
        <img src="./images/082883247af812e85824be1b5b9ae943.jpg" class="img-fluid" alt="">
    </div>
    <div>
        <img src="./images/0a9eab23e0b67df8cc02810bd72e5db8.jpg" class="img-fluid" alt="">
    </div>
    <div>
        <img src="./images/f0657d95a8c73623fe63ae0aaa86144a.jpg" class="img-fluid" alt="">
    </div>
</div>