<div class="d-flex flex-column slider-parent align-items-center">
    <div class="owl-carousel owl-theme owl-carousel-slider position-relative w-100">
        <div class="item w-100">
            <img src="./images/082883247af812e85824be1b5b9ae943.jpg" alt="">
        </div>
        <div class="item w-100">
            <img src="./images/0a9eab23e0b67df8cc02810bd72e5db8.jpg" alt="">
        </div>
        <div class="item w-100">
            <img src="./images/f0657d95a8c73623fe63ae0aaa86144a.jpg" alt="">
        </div>
    </div>
    <div class="slider-dots d-flex">
        <button></button>
        <button></button>
        <button></button>
    </div>
</div>